.current {
  color: green;
}

nav {
  font-family: "Inconsolata", monospace;
  display: block;
  text-align: center;
}

h1 {
  font-family: "Inconsolata", monospace;
}

h2 {
  font-family: "Inconsolata", monospace;
}

h3 {
  font-family: "Inconsolata", monospace;
}

p {
  font-family: "Inconsolata", monospace;
}

li {
  font-family: "Inconsolata", monospace;
}

li a:hover {
  background-color: #111111;
}

guru {
  display: block;
  text-align: center;
  margin: 6em;
  font-size: x-large;
}
