.current {
  color: #FE59FE;
  font-weight: bold;
}

nav {
  font-family: "Inconsolata", monospace;
  display: block;
  text-align: center;
  font-size: 2vw;
  padding-bottom: 3vw;
}

nav a {
  padding-right: 0.3vw;
}

h1 {
  font-family: 'VT323', monospace;
  margin: 1em;
}

h2 {
  font-family: 'VT323', monospace;
  margin: 1.2em;
}

h3 {
  font-family: "Inconsolata", monospace;
  margin: 1.4em;
}

h4 {
  font-family: "Inconsolata", monospace;
  margin-left: 1.8em;
  margin-top: -1em;
}

p {
  font-family: "Inconsolata", monospace;
  margin: 2em;
}

li {
  font-family: "Inconsolata", monospace;
  margin-left: 1em;
}

guru {
  font-family: Lucida Grande;
  display: block;
  width: 52%;
  position: relative;
  text-align: right;
  margin-top: 18%;
  margin-right: 2%;
  font-size: 6vw;
}

note-1 {
  font-family: Lucida Grande;
  display: inline;
  width: 5%;
  position: relative;
  text-align: center;
  margin-top: 18%;
  margin: 1%;
  font-size: 6vw;
}

note-2 {
  font-family: Lucida Grande;
  display: inline;
  width: 5%;
  position: relative;
  text-align: center;
  margin-top: 18%;
  margin: 1%;
  font-size: 6vw;
}

note-3 {
  font-family: Lucida Grande;
  display: inline;
  width: 5%;
  position: relative;
  text-align: center;
  margin-top: 18%;
  margin: 1%;
  font-size: 6vw;
}

note-4 {
  font-family: Lucida Grande;
  display: inline;
  width: 5%;
  position: relative;
  text-align: center;
  margin-top: 18%;
  margin: 1%;
  font-size: 6vw;
}

.label {
  float: right;
  width: 30%;
  padding: 2%;
}

.ascii-art {
  font-family: monospace;
  white-space: pre;
  margin: 2em;
}

.listen {
  float: left;
  padding-top: 14vw;
  padding-left: 7vw;
  font-size: 3vw;
}

.footer {
  margin-top: 20vw;
  font-family: 'VT323', monospace;
  border: 3px dashed #fe59fe;
  width: 10%;
  margin-left: 44%;
  text-align: justify;
}

.static-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #43AFC3;
  color: #EFD42F;
  text-align: center;
}

///// mobile responsive properties

@media only screen and (max-width: 750px) {
  nav {
    font-size: x-large;
  }
}

@media only screen and (max-width: 1400px) {
  guru {
    margin-top: 25%;
  }
  note-1 {
    margin-top: 25%;
  }
  note-2 {
    margin-top: 25%;
  }
  note-3 {
    margin-top: 25%;
  }
  note-4 {
    margin-top: 25%;
  }
}

@media screen and (orientation:portrait) {
  guru {
    margin-top: 55%;
  }
  note-1 {
    margin-top: 55%;
  }
  note-2 {
    margin-top: 55%;
  }
  note-3 {
    margin-top: 55%;
  }
  note-4 {
    margin-top: 55%;
  }
  nav {
    font-size: 5vw;
  }
}

///// below are Hover.css v2 imports

@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/// hvr hang speed 1

@-webkit-keyframes hvr-hang-1 {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
}
@keyframes hvr-hang-1 {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(-30px);
  }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(30px);
    transform: translateY(-80px);
  }
}
@-webkit-keyframes hvr-hang-sink-1 {
  100% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
}
@keyframes hvr-hang-sink-1 {
  100% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
}
.hvr-hang-1 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-animation-name: hvr-hang-sink-1, hvr-hang-1;
  animation-name: hvr-hang-sink-1, hvr-hang-1;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/// hvr hang speed 2

@-webkit-keyframes hvr-hang-2 {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
}
@keyframes hvr-hang-2 {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(30px);
    transform: translateY(-80px);
  }
}
@-webkit-keyframes hvr-hang-sink-2 {
  100% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
}
@keyframes hvr-hang-sink-2 {
  100% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
}
.hvr-hang-2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-animation-name: hvr-hang-sink-2, hvr-hang-2;
  animation-name: hvr-hang-sink-2, hvr-hang-2;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/// hvr hang speed 3

@-webkit-keyframes hvr-hang-3 {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
}
@keyframes hvr-hang-3 {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(-30px);
  }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(30px);
    transform: translateY(-80px);
  }
}
@-webkit-keyframes hvr-hang-sink-3 {
  100% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
}
@keyframes hvr-hang-sink-3 {
  100% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
}
.hvr-hang-3 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-animation-name: hvr-hang-sink-3, hvr-hang-3;
  animation-name: hvr-hang-sink-3, hvr-hang-3;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/// hvr hang speed 4

@-webkit-keyframes hvr-hang-4 {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
}
@keyframes hvr-hang-4 {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(30px);
    transform: translateY(-80px);
  }
}
@-webkit-keyframes hvr-hang-sink-4 {
  100% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
}
@keyframes hvr-hang-sink-4 {
  100% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
}
.hvr-hang-4 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-animation-name: hvr-hang-sink-4, hvr-hang-4;
  animation-name: hvr-hang-sink-4, hvr-hang-4;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/// hvr icon rotation

.hvr-icon-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-grow-rotate .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-grow-rotate:hover .hvr-icon, .hvr-icon-grow-rotate:focus .hvr-icon, .hvr-icon-grow-rotate:active .hvr-icon {
  -webkit-transform: scale(1.5) rotate(12deg);
  transform: scale(1.5) rotate(12deg);
}
.hvr-icon {
  max-width: 18px;
  margin-left: 10px;
}
